[defaults]
inventory              = inventory/hosts.yml
roles_path             = roles
host_key_checking      = False
interpreter_python     = auto_silent
stdout_callback        = yaml
callbacks_enabled      = profile_tasks, timer
retry_files_enabled    = False
forks                  = 10
vault_password_file    = .vault_pass
# Décommenter pour garder un log complet des exécutions (utile pour le rapport)
# log_path             = ./ansible.log

[ssh_connection]
pipelining   = True
ssh_args     = -o ControlMaster=auto -o ControlPersist=300s -o PreferredAuthentications=publickey

[privilege_escalation]
become        = True
become_method = sudo
become_user   = root
become_ask_pass = False
